body{
	font-family: 'Muli', sans-serif;
}
.header{
	height: 100px;
	text-align: center;
}

.header h1{
	margin-top: 50px;
}

.types{
	text-align: center;
	margin-bottom: 30px;
}

.types li{
	display: inline;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.types li:hover{
	cursor: pointer;
}

.small-card{
	text-align: center;
}

.small-card > div{
	border: 1px solid black;
	border-radius: 6px;
	height: 230px;
	margin-bottom: 25px;
}

.img-responsive{
	margin-left: auto;
	margin-right: auto;
}

.small-card>div:hover{
	cursor: pointer;
}

span{
	margin: 0px 5px 0px 5px;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.selected-pokemon table{
	margin-right: auto;
	margin-left: auto;
}

.selected-pokemon{
	height: 400px;
	text-align: center;
	border: 1px solid black;
	border-radius: 6px;
	position: fixed;
	width: 28%;
}

.types{
	margin-top: 400px;
	position: fixed;
}

.types li{
	display: inline;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.types li:hover{
	cursor: pointer;
}

.footer{
	height: 50px;
}

.all{
	background-color: rgb(142, 167, 255);
}

.poison{
	background-color: rgb(176, 143, 211);
}
.fire{
	background-color: rgb(234, 166, 166);
}
.fairy{
	background-color: rgb(232, 161, 120)
}
.water{
	background-color: rgb(149, 205, 219);
}
.flying{
	background-color: rgb(229, 165, 217);
}
.normal{
	background-color: rgb(206, 206, 206);
}
.bug{
	background-color: rgb(186, 216, 169);
}
.ground{
	background-color: rgb(186, 163, 115);
}
.electric{
	background-color: rgb(249, 235, 127);
}
.grass{
	background-color: rgb(202, 209, 106);
}
.fighting{
	background-color: rgb(249, 87, 101);
}
.psychic{
	background-color: rgb(129, 249, 231);
}
.rock{
	background-color: rgb(219, 219, 219);
}
.steel{
	background-color: rgb(140, 171, 209);
}
.ice{
	background-color: rgb(194, 209, 249);
}
.ghost{
	background-color: rgb(232, 183, 221);
}
.dragon{
	background-color: rgb(186, 255, 165);
}
.dark{
	background-color: rgb(170, 169, 169);
}
