html, body{
	font-family: 'Muli', sans-serif;
/*	background:url(https://cdn2.vox-cdn.com/thumbor/ie_REzAR9GuOcmOD03TGyaVL9Gk=/0x266:1024x949/1280x854/cdn0.vox-cdn.com/uploads/chorus_image/image/48942277/N3DS_PokemonSuperMysteryDungeon_MainIllustration_png_jpgcopy.0.0.jpg) no-repeat center center fixed;
	background-size:cover;*/
	background-color: rgb(91, 61, 112);
}
.header{
	height: 100px;
	color: white;
	text-shadow: 3px 3px black;
}

.header h1{
	margin-top: 50px;
	font-weight: 800;
	text-align: center;
	text-shadow: 2px, 2px, 2px, 2px black;
	font-size: 50px;
}

.types{
	text-align: center;
	margin-bottom: 30px;

}

.types ul{
	word-spacing: -1;
}
.types li{
	display: inline-block;
}

.type:hover{
	cursor: pointer;
}

.spinner{
	color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.spinner img{
	width: 200px;
}

.spinner p{
	font-weight: bold;
	font-size: 30px;
	text-shadow: 3px 3px black;

}

.small-card{
	text-align: center;
}

.small-card > div{
	border: 1px solid black;
	border-radius: 6px;
	height: 230px;
	margin-bottom: 25px;
	background-color: white;
}

.img-responsive{
	margin-left: auto;
	margin-right: auto;
}

.small-card>div:hover{
	cursor: pointer;
	background-color: rgb(229, 227, 227);
}

button{
	height: 60px;
}

.type{
	margin: 2px;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

table{
	margin-right: auto;
	margin-left: auto;
}

.selected-pokemon{
	height: 400px;
	text-align: center;
	border: 1px solid black;
	border-radius: 6px;
	position: fixed;
	width: 28%;
	background-color: white;	
}

#selected-card .spinner{
	position: fixed;
	margin-left: 80px;
}

.modal-body{
	text-align: center;
	padding: 20px;
}

.modal-body .spinner{
	color: black;
}

.notFound{
	color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.notFound img{
	width: 200px;
}

.notFound p{
	font-weight: bold;
	font-size: 30px;
	text-shadow: 3px 3px black;

}

.footer{
	height: 50px;
}

.all{
	background-color: rgb(142, 167, 255);
}

.poison{
	background-color: rgb(176, 143, 211);
}
.fire{
	background-color: rgb(234, 166, 166);
}
.fairy{
	background-color: rgb(232, 161, 120)
}
.water{
	background-color: rgb(149, 205, 219);
}
.flying{
	background-color: rgb(229, 165, 217);
}
.normal{
	background-color: rgb(206, 206, 206);
}
.bug{
	background-color: rgb(186, 216, 169);
}
.ground{
	background-color: rgb(186, 163, 115);
}
.electric{
	background-color: rgb(249, 235, 127);
}
.grass{
	background-color: rgb(202, 209, 106);
}
.fighting{
	background-color: rgb(249, 87, 101);
}
.psychic{
	background-color: rgb(129, 249, 231);
}
.rock{
	background-color: rgb(219, 219, 219);
}
.steel{
	background-color: rgb(140, 171, 209);
}
.ice{
	background-color: rgb(194, 209, 249);
}
.ghost{
	background-color: rgb(232, 183, 221);
}
.dragon{
	background-color: rgb(186, 255, 165);
}
.dark{
	background-color: rgb(170, 169, 169);
}

.shadow{
	background-color: rgb(234, 234, 234);
}

.unknown{
	background-color: rgb(255, 209, 117);
}